---
---

@import "minima";

.page-content {
  background-color: #fafbfc !important;
}

.break {
  border: 1px solid #e8e8e8;
  width: 100%;
  margin: 30px 0;
}

.project-card {
  background-color: white;
  border: 1px solid #586069;
  border-radius: 3px;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  justify-content: space-between;
  padding: 8px;
}

.project-cards {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

@media (min-width: 600px) {
  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .project-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-left: 0;
  margin-right: 4px;
  position: relative;
  top: 2px;
  width: 12px;
}

.github-data {
  display: inline-block;
  margin-right: 24px;
}

.project-card-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.project-card-title {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.project-card-description {
  color: #586069;
  font-size: 14px;
  margin-bottom: 8px;
  white-space: normal;
}

.github-info {
  display: flex;
  flex-shrink: 0;
  font-size: 12px !important;
}

.resume-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.v-align-middle {
  vertical-align: middle;
}

.link-gray {
  color: #586069;
  &:hover {
    color: #0366d6;
  }
}

.f-4 {
  font-size: 16px;
}

.lh-condensed {
  line-height: 1.25;
}

.mb-1 {
  margin-bottom: 4px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-3 {
  margin-right: 16px;
}

.ml-1 {
  margin-left: 4px;
}

.text-gray {
  color: #586069;
}

.ws-normal {
  white-space: normal;
}

.mb-2 {
  margin-bottom: 8px;
}
